@import 'global/variables';
@import 'global/typography';
@import 'components/header';
@import 'components/sidebar';
@import 'components/breadcrumb';
@import 'components/tables';

.app-body {
  .main {
    background-image: url('https://res.cloudinary.com/tesseract/image/upload/co_rgb:ffffff,e_grayscale,o_4/v1568214892/fibra-api/logo_transparente.png');
    background-position: center center;
    background-repeat: no-repeat;
  }
}
